@model List<ResultProcessDto>
@*
    _DefaultProcessComponent
*@

@{
    int count = 0;
}

<div class="container-fluid steps py-5">
    <div class="container py-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 800px;">
            <h1 class="display-5 text-capitalize text-white mb-3">Cental<span class="text-primary"> Süreçleri</span></h1>
            <p class="mb-0 text-white">
                Araç kiralama süreci hızlı, kolay ve kullanıcı dostudur. İhtiyacınıza uygun aracı seçer, dakikalar içinde rezervasyonunuzu tamamlarsınız.
                Teslimat ve iade süreçleri şeffaf ve sorunsuz ilerler. Amacımız, her aşamada size zaman kazandırmak ve konforlu bir deneyim sunmaktır.
            </p>
        </div>
        <div class="row g-4">

            @foreach (var item in Model)
            {
                count++;
                <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="steps-item p-4 mb-4">
                        <h4>@item.Title</h4>
                        <p class="mb-0">@item.Description</p>
                        <div class="setps-number">@count</div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>