@model UpdateBookingDto
@{
    ViewData["Title"] = "Rezervasyon Güncelle";
    Layout = "~/Areas/Admin/Views/AdminLayout/Layout.cshtml";
}

<form method="post">

    <input type="hidden" asp-for="BookingId" />
    <label>Kullanıcı Seç</label>
    <select asp-for="UserId" class="form-control">
        <option selected>Rezervasyonu yapacağınız kullanıcıyı seçin</option>
        @foreach (var user in ViewBag.userList)
        {
            <option value="@user.Value">@user.Text</option>
        }
    </select>
    <br />
    <label>Araç Seç</label>
    <select asp-for="CarId" class="form-control">
        <option selected>Aracınızı seçin</option>
        @foreach (var car in ViewBag.carList)
        {
            <option value="@car.Value">@car.Text</option>
        }
    </select>
    <br />
    <label>Alış Yeri</label>
    <input type="text" asp-for="PickUpLocation" class="form-control" placeholder="Şehir, bölge veya havaalanı girin" />
    <br />
    <label>İade Yeri</label>
    <input type="text" asp-for="DropOffLocation" class="form-control" placeholder="Şehir, bölge veya havaalanı girin" />
    <br />
    <label>Alış Tarihi</label>
    <input type="date" asp-for="PickUpDate" class="form-control" />
    <br />
    <label>İade Tarihi</label>
    <input type="date" asp-for="DropOffDate" class="form-control" />
    <br />
    <label>Durum</label>
    <input type="text" asp-for="Status" class="form-control" readonly />
    <br />
    <label>Durumu Değiştir</label>
    <select asp-for="IsApproved" class="form-control">
        <option value=true>Onayla</option>
        <option value=false>Reddet</option>
        <option value=null>Beklemede</option>
    </select>
    <br />

    <button class="btn btn-outline-primary"><i class="fa fa-save"></i> Güncelle </button>

</form>