
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/Index.cshtml";
}

<div class="container-fluid overflow-hidden about py-5">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-xl-6 wow fadeInLeft" data-wow-delay="0.2s">
                <div class="about-item">
                    <div class="pb-5">
                        <h1 class="display-5 text-capitalize">Cental <span class="text-primary">Hakkında</span></h1>
                        <br />
                        <p class="mb-0">
                            Araç kiralama hizmetlerinde kalite ve güveni ön planda tutan bir ekibiz. Müşterilerimize konforlu, güvenli ve bütçeye uygun araç seçenekleri sunarak her yolculuk için en iyi deneyimi sağlamayı hedefliyoruz.
                        </p>
                        <br />
                        <p>
                            Müşteri memnuniyetini her adımda önemseyerek, kolay rezervasyon, zamanında teslimat ve profesyonel hizmet sunuyoruz. Amacımız, araç kiralama sürecinizi hızlı, sorunsuz ve keyifli hale getirmek. Siz de Cental güvencesiyle yola çıkmanın rahatlığını yaşayabilirsiniz.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 wow fadeInRight" data-wow-delay="0.2s">
                <div class="about-img">
                    <div class="img-1">
                        <img src="https://www.cakirogluotokiralama.com/wp-content/uploads/2020/11/Yalova-Araba-Kiralama.jpg" class="img-fluid rounded h-100 w-100" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>