@model UpdateUserSocialDto
@{
    ViewData["Title"] = "Sosyal Medya Güncelleme";
    Layout = "~/Areas/Manager/Views/ManagerLayout/Index.cshtml";
}

<form method="post">

    <input type="hidden" asp-for="UserSocialId" />
    <input type="hidden" asp-for="UserId" />
    <label>Sosyal Medya Adı</label>
    <input type="text" asp-for="Title" class="form-control" />
    <br />
    <label>Simgesi</label>
    <input type="text" asp-for="Icon" class="form-control" />
    <br />
    <label>Url</label>
    <input type="text" asp-for="Url" class="form-control" />
    <br />
    <button class="btn btn-outline-info">Güncelle</button>

</form>