@model ContactInfo
@{
    ViewData["Title"] = "Yeni İletişim Bilgisi Ekle";
    Layout = "~/Areas/Admin/Views/AdminLayout/Layout.cshtml";
}

<form method="post">

    <label>Konum</label>
    <input type="text" asp-for="Location" class="form-control" />
    <br />
    <label>E posta</label>
    <input type="text" asp-for="Email" class="form-control" />
    <br />
    <label>Telefon Numarası - 1</label>
    <input type="text" asp-for="PhoneNumber1" class="form-control" />
    <br />
    <label>Telefon Numarası - 2</label>
    <input type="text" asp-for="PhoneNumber2" class="form-control" />
    <br />
    <label>Sosyal Medya - 1</label>
    <input type="text" asp-for="SocialMedia1" class="form-control" />
    <br />
    <label>Sosyal Medya - 2</label>
    <input type="text" asp-for="SocialMedia2" class="form-control" />
    <br />
    <label>Sosyal Medya - 3</label>
    <input type="text" asp-for="SocialMedia3" class="form-control" />
    <br />
    <label>Sosyal Medya - 4</label>
    <input type="text" asp-for="SocialMedia4" class="form-control" />
    <br />
    <label>Açılış Saati</label>
    <input type="text" asp-for="OpeningHours" class="form-control" />
    <br />
    <label>Kapanış Saati</label>
    <input type="text" asp-for="ClosingHours" class="form-control" />
    <br />
    <button class="btn btn-outline-primary"> Kaydet </button>

</form>